<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corretor de Gabaritos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Corretor de Gabaritos por Imagem</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" id="correctionForm">
            <label for="professor_name">Nome do Professor:</label>
            <input type="text" id="professor_name" name="professor_name" required>

            <label for="exam_date">Data:</label>
            <input type="date" id="exam_date" name="exam_date" required>

            <label for="turma">Turma:</label>
            <input type="text" id="turma" name="turma" required>

            <label for="num_exam_types">Quantos tipos de prova (Ex: 1, 2, 3, 4):</label>
            <input type="number" id="num_exam_types" name="num_exam_types" min="1" value="1" required>

            <div id="exam_answers_container">
                </div>

            <label for="gabarito_images">Upload das Imagens dos Gabaritos:</label>
            <input type="file" id="gabarito_images" name="gabarito_images" accept=".jpg, .jpeg, .png" multiple required>

            <button type="submit">Corrigir Gabaritos</button>
        </form>
        <div id="message"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>